/* simulate .input-group-btn:first-child > .btn in bootstrap.js */
select.select-small:first-child + .bootstrap-select > .btn {
    margin-right: -1px;
    height: 30px;
    font-size: 12px;
    line-height: 1.5;
}

/* simulate .input-group .input-group-btn:first-child > .btn in bootstrap.js
.input-group select:first-child + .bootstrap-select > .btn {        
    border-bottom-right-radius: 0;
    border-top-right-radius:0;
} */

.input-group > .bootstrap-select {
    /* Fix the problem that the dropdown will not resize to fit the dropdown content in IE */
    /* Actually, it overwrites .bootstrap-select { width: 220px; } */
    width: 1%;
}

.input-group .form-control {
    border-radius: 4px;
}

/* animate a refresh glyphicon */
.glyphicon-refresh-animate {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}
@keyframes spin {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}
@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

/* arrow for accordion panels */
.panel-heading a.accordion-toggle:hover {
    color: black;
	text-decoration: none;
	cursor: pointer; cursor: hand;
}
.panel-heading a.accordion-toggle h4:before {
    /* symbol for "opening" panels */
    font-family: 'Glyphicons Halflings';
    content: "\e114";
    color: grey;
}
.panel-heading a.accordion-toggle.collapsed h4:before {
    /* symbol for "collapsed" panels */
    content: "\e080";
}

.bootstrap-select > button.disabled {
    background-color: #eee;
    border-color: #ccc;
}

.checkbox {
    line-height: 1.42857143;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding-bottom: 25px;
}

body {
    padding-top: 4px;
}