    <link rel="stylesheet" type="text/css" href="/static/css/global.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui-themes-1.11.0/themes/cupertino/jquery-ui.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/jquery-ui-themes-1.11.0/themes/cupertino/theme.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-3.2.0-dist/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/static/libs/bootstrap-select/dist/css/bootstrap-select.css" />