{% extends "skeleton.html" %}
{% block js %}
    <script type="text/javascript" src="/static/js/uwsLib.js" defer></script>
    <script type="text/javascript" src="/static/js/uws_manager.js" defer></script>
    <script type="text/javascript" src="/static/js/job_form.js" defer></script>
{% endblock %}
{% block content %}
	<div class="container bs-docs-container">    
        <div class="bs-docs-section">
            <h3>Create Job ({{ job_name }})</h3>
	      	<!-- show form -->
            <form id="job_params" class="form-horizontal" role="form" action="{{ app_url }}{% url 'job_send' job_name %}" method="get">
                {% include "inc_form.html" with form=form label_size=2 input_size=5 help_size=5 %}
            </form>
        </div> <!-- bs-docs-section -->
	</div> <!-- container -->
{% endblock %}
        