{% extends "skeleton.html" %}
{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/libs/codemirror-5.7/lib/codemirror.css" />
{% endblock %}
{% block js %}
    <script type="text/javascript" src="/static/libs/codemirror-5.7/lib/codemirror.js" defer></script>
    <script type="text/javascript" src="/static/libs/codemirror-5.7/mode/shell/shell.js" defer></script>
    <script type="text/javascript" src="/static/js/job_definition.js" defer></script>
{% endblock %}
{% block variables %}
    <div id="jobname" style="display:none" value="{{ jobname }}"></div>
{% endblock %}
{% block content %}
    <div class="container bs-docs-container">
        <div id="new_job_form" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Job Definition
                </h3>
            </div>
            <div class="panel-body">
                <form action="/config/job_definition" method="post" class="form-horizontal">
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Name</label>
                            <div class="col-md-7 controls">
                                <div class="input-group">
                                    <input class="form-control" name="name" type="text" value="" />
                                    <span class="input-group-btn"><button id="load_wadl" class="btn btn-default" type="button">Load existing WADL</button></span>
                                </div>
                            </div>
                            <div class="col-md-3 help-block">Job name. <span id="load_msg" class="text-danger" style="display: none;">Message!</span></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Description</label>
                            <div class="col-md-7 controls">
                                <textarea class="form-control" name="description" rows="3"></textarea>
                            </div>
                            <div class="col-md-3 help-block">Job description.</div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Parameters</label>
                            <div class="col-md-7 controls">
                                <table id="parameter_list" width="100%">
                                    <tbody>
                                    <tr>
                                        <td colspan="100%" style="padding-top= 2px;">
                                            <button id="add_parameter" type="button" class="btn btn-sm btn-default">Add parameter</button>
                                            <button id="remove_last_parameter" type="button" class="btn btn-sm btn-default">Remove last parameter</button>
                                            <button id="remove_all_parameters" type="button" class="btn btn-sm btn-default">Remove all parameters</button>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-3 help-block">
                                List of parameters, with name, default value, type and description.
                                Specify if the parameter is required by checking the box (if not, the parameters won't be shown by the client and the default value will always be used).
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Results</label>
                            <div class="col-md-7 controls">
                                <table id="result_list" width="100%">
                                    <tr>
                                        <td colspan="100%" style="padding-top= 2px;">
                                            <button id="add_result" type="button" class="btn btn-sm btn-default">Add result</button>
                                            <button id="remove_last_result" type="button" class="btn btn-sm btn-default">Remove last result</button>
                                            <button id="remove_all_results" type="button" class="btn btn-sm btn-default">Remove all results</button>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col-md-3 help-block">
                                List of results with their name and mediaType. A default value can be provided.
                                Note that a result can refer to a parameter (if it has the same name),
                                e.g. the name of an output file used in the script.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Execution duration</label>
                            <div class="col-md-7 controls">
                                <input class="form-control" name="executionduration" type="number" value="60" step="10" min="0" />
                            </div>
                            <div class="col-md-3 help-block">
                                Duration in seconds that will be allocated to the job.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Default quote</label>
                            <div class="col-md-7 controls">
                                <input class="form-control" name="quote" type="number" value="10" step="10" min="0" />
                            </div>
                            <div class="col-md-3 help-block">
                                Default quote in seconds corresponding to the expected duration of the job.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">Bash script</label>
                            <div class="col-md-7 controls">
                                <textarea class="form-control" name="script" rows="10" style="font-family: monospace"></textarea>
                            </div>
                            <div class="col-md-3 help-block">
                                Job as a bash script. Parameters are available as bash variables, e.g. ${parameter_name}.
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            <label class="col-md-2 control-label">&nbsp;</label>
                            <div class="col-md-7 controls">
                                <input value="Create WADL and script" type="submit" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div> <!-- panel -->
	</div> <!-- container -->
{% endblock %}
