<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Description -->
    <meta name="description" content="UWS Server"/>
    <meta name="author" content="Mathieu Servillat"/>
    <title>UWS Server</title>
    <!-- CSS -->
{% include "inc_css_common.html" %}{% block css %}{% endblock %}
    <!-- JavaScript common -->
{% include "inc_js_common.html" %}
    <!-- JavaScript local -->{% block js %}{% endblock %}
</head>
<body>
    <!-- Variables defined in div elements for JavaScript -->
{% block variables %}{% endblock %}
    <!-- Page header (banner and nav panel) -->
{% block header %}{% include "header.html" %}{% endblock %}
    <!-- Content -->
{% block content %}{% endblock %}
    <!-- Footer (credits) -->
{% block footer %}{% include "footer.html" %}{% endblock %}
</body>
</html>