
    <div class="bs-docs-footer">
        <div class="container">
            <p class="page-header"></p>
            <p class="text-center">
                <a class="black" href="http://opus-job-manager.readthedocs.io/" target="_blank">Observatoire de Paris UWS Server</a> (OPUS).
                <span class="glyphicon glyphicon-copyright-mark"></span>
                <a class="black" href="http://www.obspm.fr/" target="_blank">Observatoire de Paris</a> 2015-2020.
            </p>
        </div> <!-- container -->
    </div> <!-- footer -->

</body>
</html>
