    <div class="bs-docs-header">
        <div class="container">
            <nav class="navbar navbar-expand-md navbar-light bg-light border rounded mb-3 px-3">
                <a class="navbar-brand" href="{{ url_for('home') }}">{{ config.CLIENT_TITLE }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar_main"
                        aria-controls="navbar_main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div id="navbar_main" class="collapse navbar-collapse">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link{{ ' active' if '/job_execute' in url }}" href="{{ url_for('job_execute') }}"><span class="bi bi-play-circle"></span>
                                Execute Job</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ ' active' if '/jobs' in url }}" href="{{ url_for('job_list') }}"><span class="bi bi-list-ul"></span>
                                Job List</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link{{ ' active' if '/job_definition' in url }}" href="{{ url_for('job_definition') }}"><span class="bi bi-pencil-square"></span>
                                Job Definition</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
{% if current_user.is_authenticated %}
                        <li class="nav-item dropdown">
                            <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" role="button" aria-expanded="false">
                                  <span class="bi bi-person-fill"></span>
                                  Signed in as <strong>{{ current_user.email }}</strong> ({{ session.oidc_idp if session.oidc_idp else 'Local' }})
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end">
{% if current_user.has_role('admin') %}
                                <li><a class="dropdown-item" href="{{ url_for('preferences') }}">
                                    <span class="bi bi-gear"></span>
                                    Client Preferences</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('user.index_view') }}">
                                    <span class="bi bi-person-fill"></span>
                                    Client Accounts</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('server_accounts') }}">
                                    <span class="bi bi-person-fill"></span>
                                    Server Accounts</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('server_jobs') }}">
                                    <span class="bi bi-pencil-square"></span>
                                    Job Definitions</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('maintenance') }}">
                                    <span class="bi bi-wrench"></span>
                                    Maintenance</a>
                                </li>
                                <li><a class="dropdown-item" href="{{ url_for('show_logs') }}">
                                    <span class="bi bi-card-list"></span>
                                    Log viewer</a>
                                </li>
                                <li><hr class="dropdown-divider"></li>
{% endif %}
                                <li><a class="dropdown-item" href="{{ url_for('profile') }}">
                                    <span class="bi bi-info-circle-fill"></span>
                                    Show profile</a>
                                </li>
{% if not session.oidc_idp and current_user.password %}
                                <li><a class="dropdown-item" href="{{ url_for_security('change_password') }}">
                                    <span class="bi bi-lock-fill"></span>
                                    Change password</a>
                                </li>
{% endif %}
                                <li><hr class="dropdown-divider"></li>
                                <li><a class="dropdown-item" href="{{ url_for('oidc_logout') if session.oidc_idp else url_for_security('logout') }}">
                                    <span class="bi bi-box-arrow-right"></span>
                                    Sign out</a>
                                </li>
                            </ul>
                        </li>
{% else %}
  {% if config.SECURITY_REGISTERABLE %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for_security('register') }}">
                                <span class="bi bi-person-fill"></span>
                                Register
                            </a>
                        </li>
  {% endif %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for_security('login') }}">
                                <span class="bi bi-box-arrow-in-right"></span>
                                Local login
                            </a>
                        </li>
  {% for idp in config.OIDC_IDPS %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('oidc_login') }}{{ idp.title }}" title="{{ idp.description }}">
                                <img src="{{ idp.url_logo }}" height="23" width="20" style="padding-bottom: 3px;"/>
                                {{ idp.title }}
                            </a>
                        </li>
  {% endfor %}
{% endif %}
                    </ul>
                </div> <!-- navbar-collapse -->
            </nav> <!-- navbar -->
        </div> <!-- container -->
    </div> <!-- header -->
