    <div class="bs-docs-header">
        <div class="container">
            <div class="navbar navbar-default">
                <div class="navbar-header">
                    <button class="navbar-toggle" data-target=".navbar-collapse" data-toggle="collapse" type="button">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="{{ url_for('home') }}">{{ config.CLIENT_TITLE }}</a>
                </div> <!-- navbar-header -->
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <!--<li {{print(" class=\"active\"") if (page_title == "help")}}>-->
                            <!--<a href="/help"><span class="glyphicon glyphicon-search"></span>-->
                            <!--Help</a>-->
                        <!--</li>-->
                        <!--<li{{' class="active"' if page_title == 'job_list'}}>-->
                            <!--<a href="/job_list"><span class="glyphicon glyphicon-cog"></span>-->
                            <!--Available jobs</a>-->
                        <!--</li>-->
                        <li{{ ' class=active' if '/jobs' in url }}>
                            <a href="{{ url_for('job_list') }}"><span class="glyphicon glyphicon-list"></span>
                                Job List</a>
                        </li>
                        <li{{ ' class=active' if '/job_definition' in url }}>
                            <a href="{{ url_for('job_definition') }}"><span class="glyphicon glyphicon-edit"></span>
                                Job Definition</a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right">
{% if current_user.is_authenticated %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
                                  <span class="glyphicon glyphicon-user"></span>
                                  Signed in as <strong>{{ current_user.email }}</strong><span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu">
{% if current_user.has_role('admin') %}
                                <li><a href="{{ url_for('preferences') }}">
                                    <span class="glyphicon glyphicon-cog"></span>
                                    Client Preferences</a>
                                </li>
                                <li><a href="{{ url_for('user.index_view') }}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Client Accounts</a>
                                </li>
                                <li><a href="{{ url_for('server_accounts') }}">
                                    <span class="glyphicon glyphicon-user"></span>
                                    Server Accounts</a>
                                </li>
                                <li><a href="{{ url_for('server_jobs') }}">
                                    <span class="glyphicon glyphicon-edit"></span>
                                    Server Jobs</a>
                                </li>
                                <li class="divider"></li>
{% endif %}
                                <li><a href="{{ url_for('profile') }}">
                                    <span class="glyphicon glyphicon-info-sign"></span>
                                    Show profile</a>
                                </li>
                                <li><a href="{{ url_for_security('change_password') }}">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    Change password</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="{{ url_for_security('logout') }}">
                                    <span class="glyphicon glyphicon-log-out"></span>
                                    Sign out</a>
                                </li>
                            </ul>
                        </li>
{% else %}
                        <li>
                            <a href="{{ url_for_security('login') }}">
                                <span class="glyphicon glyphicon-log-in"></span>
                                Sign in
                            </a>
                        </li>
{% endif %}
                    </ul>
                </div> <!-- navbar-collapse -->
            </div> <!-- navbar -->
        </div> <!-- container -->
    </div> <!-- header -->