{% extends "skeleton.html" %}
{% block variables %}
    <div id="git_date" style="display:none" value="{{ git_date }}"></div>
    <div id="git_version" style="display:none" value="{{ git_version }}"></div>
{% endblock %}
{% block content %}
<div class="container bs-docs-container">
    {# content aligned with the text of the navbar (padding px-3 and border of the navbar, see header.html) #}
    <div class="row"><div class="col-md-12 home-content">
{% if config.HOME_CONTENT is defined %}
        {{ config.HOME_CONTENT|safe }}
{% endif %}
    </div></div>
</div>
{% endblock %}
