    {# Flask-Admin pages: jQuery of Flask-Admin (see admin/master.html), used by its plugins (select2) #}
    {% if admin_view is not defined %}
    <script type="text/javascript" src="/static/js/jquery-1.12.4.min.js?v={{ asset_version }}" defer></script>
    {% endif %}
    <script type="text/javascript" src="/static/vendor/bootstrap-5.3.8/js/bootstrap.bundle.min.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/vendor/tom-select-2.6.2/js/tom-select.complete.min.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/opus_select.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/global.js?v={{ asset_version }}" defer></script>
