{% extends "skeleton.html" %}
{% block js %}
    <script type="text/javascript" src="/static/js/samp.js" defer></script>
    <script type="text/javascript" src="/static/js/samp_client.js" defer></script>
    <script type="text/javascript" src="/static/js/uwsLib.js" defer></script>
    <script type="text/javascript" src="/static/js/uws_client.js" defer></script>
    <script type="text/javascript" src="/static/js/job_edit.js" defer></script>
{% endblock %}
{% block variables %}
    <div id="jobname" style="display:none" value="{{ jobname }}"></div>
    <div id="jobid" style="display:none" value="{{ jobid }}"></div>
	<div id="csrf_token" style="display:none" value="csrf_token_edit"></div>
{% endblock %}
{% block content %}
    <div class="container bs-docs-container">
        <div id="div_info"></div> 
        <div id="div_job" style="display:none"> 

            <div id="description" class="panel panel-default">
                <div class="panel-heading clearfix">
                    <span class="pull-left" style="padding-top: 4px;">
                        <span class="panel-title">Job Description</span>
                    </span>
                    <div class="btn-group pull-right">
                        <a id="to_job_list" class="btn btn-default btn-sm" href="{{ url_for('job_list', jobname=jobname) }}">
                            <span class="glyphicon glyphicon-arrow-left"></span>
                            Back to job list
                        </a>
                        <button id="rerun_job" class="btn btn-default btn-sm">
                            <span class="glyphicon glyphicon-repeat"></span>
                            Rerun job
                        </button>
                    </div>
                </div>
                <div id="div_table" class="table-responsive">
                    <table id="job_list" class="table table-bordered table-condensed">
                    </table>
                </div>
            </div> <!-- panel -->

            <div class="panel-group" id="accordion">
        
                <div id='properties' class="panel panel-default">
                    <div class="panel-heading">
                        <a id='properties_btn' class="accordion-toggle panel-title collapsed" data-toggle="collapse" data-target="#properties_panel">
                            <h4 class="panel-title">
                                Job Properties
                            </h4>
                        </a>
                    </div> <!-- panel-heading -->
                    <div id="properties_panel" class="panel-body panel-collapse collapse">
                        <table id='prop_list' class="table table-bordered table-condensed">
                        </table>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->
                
                <div id='parameters' class="panel panel-default">
                    <div class="panel-heading">
                        <a id='parameters_btn' class="accordion-toggle panel-title collapsed" data-toggle="collapse" data-target="#parameters_panel">
                            <h4 class="panel-title">
                                Job Parameters
                            </h4>
                        </a>
                      </div> <!-- panel-heading -->
                    <div id="parameters_panel" class="panel-body panel-collapse collapse">
                        <p></p>
                        <!-- show form -->
                        <form id="job_params" class="form-horizontal" role="form" action="" method="get">
                        </form>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->
        
                <div id='results' class="panel panel-default">
                    <div class="panel-heading">
                        <a id='results_btn' class="accordion-toggle panel-title" data-toggle="collapse" data-target="#results_panel">
                            <h4 class="panel-title">
                                Job Results
                            </h4>
                        </a>
                    </div> <!-- panel-heading -->
                    <div id="results_panel" class="panel-body panel-collapse collapse in">
                        <p></p>
                        <div id='result_list' class='text-center'>
                        </div>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->

                <div id='details' class="panel panel-default">
                    <div class="panel-heading">
                        <a id='details_btn' class="accordion-toggle panel-title collapsed" data-toggle="collapse" data-target="#details_panel">
                            <h4 class="panel-title">
                                Job Details
                            </h4>
                        </a>
                    </div> <!-- panel-heading -->
                    <div id="details_panel" class="panel-body panel-collapse collapse">
                        <p></p>
                        <div id='details_list' class='text-center'>
                        </div>
                    </div> <!-- panel-body -->
                </div> <!-- panel -->

            </div> <!-- panel group -->
            
        </div> <!-- div_job -->
    </div> <!-- container -->
{% endblock %}
