{% extends "skeleton.html" %}
{% block js %}
    <script type="text/javascript" src="/static/js/opus_table.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/uwsLib.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/uws_client.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/job_list.js?v={{ asset_version }}" defer></script>
{% endblock %}
{% block variables %}
    <div id="jobname" style="display:none" value="{{ jobname }}"></div>
	<div id="csrf_token" style="display:none" value="csrf_token_list"></div>
{% endblock %}
{% block content %}
	<div class="container bs-docs-container">
        <div id="job_list_panel" class="card mb-3">
            <div class="card-header d-flex flex-wrap align-items-center gap-2">
                <span class="card-title">Job List for</span>
                <div style="min-width: 250px;">
                    <select name="jobname" class="selectpicker" title="Please Select...">
                        <option data-hidden="true"></option>
                        <!-- will be added by js function -->
                    </select>
                </div>
                <div class="btn-group ms-auto">
                    <button id="refresh_list" type="button" class="actions btn btn-outline-secondary">
                        <span class="bi bi-arrow-clockwise"></span>
                        Refresh List
                    </button>
                    <button id="edit_jdl" type="button" class="actions btn btn-outline-secondary">
                        <span class="bi bi-pencil-square"></span>
                        Edit job definition
                    </button>
                    <button id="create_new_job" type="button" class="actions btn btn-outline-secondary">
                        <span class="bi bi-plus-lg"></span>
                        Create New Job
                    </button>
                </div>
            </div>
            <div id="div_table" class="table-responsive">
                <table id="job_list" class="table table-bordered table-sm">
                </table>
            </div>
        </div> <!-- panel -->
	</div> <!-- container -->
{% endblock %}
