{% extends "skeleton.html" %}
{% block js %}
    <script type="text/javascript" src="/static/vendor/sampjs-1.0.3/samp.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/samp_client.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/uwsLib.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/uws_descriptions.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/uws_client.js?v={{ asset_version }}" defer></script>
    <script type="text/javascript" src="/static/js/job_edit.js?v={{ asset_version }}" defer></script>
{% endblock %}
{% block variables %}
    <div id="jobname" style="display:none" value="{{ jobname }}"></div>
    <div id="jobid" style="display:none" value="{{ jobid }}"></div>
	<div id="csrf_token" style="display:none" value="csrf_token_edit"></div>
{% endblock %}
{% block content %}
    <div class="container bs-docs-container">
        <div id="div_info"></div>
        <div id="div_job" style="display:none">

            <div id="description" class="card mb-3">
                <div class="card-header clearfix">
                    <span class="float-start" style="padding-top: 4px;">
                        <span class="card-title">Job Summary</span>
                    </span>
                    <div class="btn-group float-end">
                        <a id="to_job_list" class="btn btn-outline-secondary" href="{{ url_for('job_list', jobname=jobname) }}">
                            <span class="bi bi-arrow-left"></span>
                            Back to job list
                        </a>
                        <a id="edit_jdl" class="btn btn-outline-secondary" href="{{ url_for('job_definition', jobname=jobname) }}">
                            <span class="bi bi-pencil-square"></span>
                            Edit job definition
                        </a>
                        <button id="provsap" class="btn btn-outline-secondary">
                            <span class="bi bi-diagram-3"></span>
                            Provenance graph
                        </button>
                        <button id="rerun_job" class="btn btn-outline-secondary">
                            <span class="bi bi-arrow-repeat"></span>
                            Rerun job
                        </button>
                    </div>
                </div>
                <div id="div_table" class="table-responsive">
                    <table id="job_list" class="table table-bordered table-sm mb-0">
                    </table>
                </div>
            </div> <!-- panel -->

            <div class="" id="accordion">

                <div id='properties' class="card mb-3">
                    <div class="card-header">
                        <a id='properties_btn' class="accordion-toggle card-title collapsed" data-bs-toggle="collapse" data-bs-target="#properties_panel">
                            <h4 class="card-title">
                                Job Properties
                            </h4>
                        </a>
                    </div> <!-- card-header -->
                    <div id="properties_panel" class="card-body collapse">
                        <table id='prop_list' class="table table-bordered table-sm">
                        </table>
                    </div> <!-- card-body -->
                </div> <!-- panel -->

                <div id='parameters' class="card mb-3">
                    <div class="card-header">
                        <a id='parameters_btn' class="accordion-toggle card-title collapsed" data-bs-toggle="collapse" data-bs-target="#parameters_panel">
                            <h4 class="card-title">
                                Job Parameters
                            </h4>
                        </a>
                      </div> <!-- card-header -->
                    <div id="parameters_panel" class="card-body collapse">
                        <p></p>
                        <!-- show form -->
                        <form id="job_params" class="" role="form" action="" method="get">
                        </form>
                    </div> <!-- card-body -->
                </div> <!-- panel -->

                <div id='results' class="card mb-3">
                    <div class="card-header">
                        <a id='results_btn' class="accordion-toggle card-title" data-bs-toggle="collapse" data-bs-target="#results_panel">
                            <h4 class="card-title">
                                Job Results
                            </h4>
                        </a>
                    </div> <!-- card-header -->
                    <div id="results_panel" class="card-body collapse show">
                        <div id='results_list' class='text-center'>
                        </div>
                    </div> <!-- card-body -->
                </div> <!-- panel -->

                <div id='details' class="card mb-3">
                    <div class="card-header">
                        <a id='details_btn' class="accordion-toggle card-title collapsed" data-bs-toggle="collapse" data-bs-target="#details_panel">
                            <h4 class="card-title">
                                Job Details
                            </h4>
                        </a>
                    </div> <!-- card-header -->
                    <div id="details_panel" class="card-body collapse">
                        <div id='details_list' class='text-center'>
                        </div>
                    </div> <!-- card-body -->
                </div> <!-- panel -->

            </div> <!-- panel group -->

        </div> <!-- div_job -->
    </div> <!-- container -->
{% endblock %}
