{% extends "skeleton.html" %}
{% block js %}
    <script type="text/javascript" src="/static/js/server_accounts.js?v={{ asset_version }}" defer></script>
{% endblock %}
{% block content %}
	<div class="container bs-docs-container">
        <div id="job_list_panel" class="card mb-3">
            <div class="card-header clearfix">
                <div class="btn-group float-end">
                    <button id="refresh_list" type="button" class="actions btn btn-outline-secondary">
                        <span class="bi bi-arrow-clockwise"></span>
                        Refresh List
                    </button>
                </div>
                <span class="card-title float-start" style="padding-top: 6px; padding-right: 6px;">Manage server accounts</span>
            </div>
            <div id="div_table" class="table-responsive">
                <table class="table table-bordered table-sm">
                    <thead>
                        <th class="text-center">User name</th>
                        <th class="text-center" style="width: 45%;">Roles</th>
                        <th class="text-center">Token</th>
                        <th class="text-center">Active</th>
                        <th class="text-center">Actions</th>
                    </thead>
                    <tbody id="server_accounts_tbody">
                    </tbody>
                </table>
            </div>
        </div> <!-- panel -->
	</div> <!-- container -->
{% endblock %}
