<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- mobile viewport optimisation -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Description -->
    <meta name="description" content="OPUS job controller"/>
    <meta name="author" content="Mathieu Servillat"/>
    <title>OPUS job controller</title>
    <!-- CSS -->
{% include "inc_css_common.html" %}{% block css %}{% endblock %}
    <!-- JavaScript common -->
{% include "inc_js_common.html" %}
    <!-- JavaScript local -->{% block js %}{% endblock %}
</head>
<body>
    <!-- Variables defined in div elements for JavaScript -->
    <div id="variables">
    <div id="auth" style="display:none" value="{{ session.auth }}"></div>
    <div id="server_url" style="display:none" value="{{ config.UWS_SERVER_URL_JS }}"></div>
    <div id="server_endpoint" style="display:none" value="{{ config.UWS_SERVER_ENDPOINT }}"></div>
    <div id="client_endpoint" style="display:none" value="{{ config.UWS_CLIENT_ENDPOINT }}"></div>
    <!-- Other variables for the page -->{% block variables %}{% endblock %}
    </div>
    <!-- Page header (banner and nav panel) -->
{% block header %}{% include "header.html" %}{% endblock %}
    <!-- Messages -->
{% block message %}
    {% with messages = get_flashed_messages(with_categories=true) %}
    <div id="loading_div"
         style="position: fixed; top:5px; left:5px; width:2%; z-index: 10; opacity: 0.8;">
        <div id="loading" class="col-md-12" style="display:none;">
            <img src="/static/images/loading.png" alt="loading" height="50" width="50"/>
        </div>
    </div>
    <div id="messages_div"
         style="position: fixed; top:40px; left:30%; width:40%; z-index: 10; text-align: center; opacity: 0.8;">
        <div id="messages" class="col-md-12">
        {% if messages %}
        {% for category, message in messages %}
            {% if category != "message" %}
            <div class="fadeOut alert alert-{{ category }} text-center"> {{ message }} </div>
            {% else %}
            <div class="fadeOut alert alert-info text-center"> {{ message }} </div>
            {% endif %}
        {% endfor %}
        {% endif %}
        </div>
    </div>
    {% endwith %}
{% endblock %}
    <!-- Content -->
{% block content %}{% endblock %}
    <!-- Footer (credits) -->
{% block footer %}{% include "footer.html" %}{% endblock %}
</body>
</html>