{% from "security/_macros.html" import render_field_with_errors, render_field %}
{% from "macros.html" import render_field_with_bootstrap_errors %}
{% extends "skeleton.html" %}
{% block content %}
	<div class="container bs-docs-container">
	    <div class="col-md-4 col-md-offset-4">
            <h3>Local Login</h3>
            <form class="form-horizontal" action="{{ url_for_security('login') }}" method="POST" name="login_user_form">
                {{ login_user_form.hidden_tag() }}
                {{ render_field_with_bootstrap_errors(login_user_form.email, class="form-control") }}
                {{ render_field_with_bootstrap_errors(login_user_form.password, class="form-control") }}
                {{ render_field(login_user_form.next) }}
                {{ render_field(login_user_form.submit, class="btn btn-primary") }}
            </form>
	    </div> <!-- col -->
	</div> <!-- container -->
{% endblock %}
